body {
	background-image:url("horse.jpeg");
}

h2 {
	font-size: 100px;
	color: #D9BA23;
	text-align: center;
}


#random_text {
  display: inline-block;
  background-color: white;
  margin: 200px;
  padding:  100px;
  border-radius: 20px;
  font-size: 20px;

}

input[type="submit"]{
  font-size: 2em;
}

.row1 {
  width: 90%;
  text-align: center;
}

img {
  width: 20%;
  margin: 1%;
}
