<form id='twilio-text-form' action='/text' method='post'>
  <input type='radio' name='destination' value='+19312657401'> Dusty<br>
  <input type='radio' name='destination' value='+18049437925'> Steve<br>
  <input type='radio' name='destination' value='+16146574021'> Casey<br>
  <input type='radio' name='destination' value='+19144097450'> Annie<br>
  <input type='radio' name='destination' value='+18147466128'> Tom<br>
  <input type='radio' name='destination' value='+17732099176'> Sasha<br><br>
  <input type='submit' value='Send yo message'>
</form>
