<form id='twilio-text-form' action='/text' method='post'>
  <ul>
  <li><label class='checkbox'><input type='checkbox' name='checkbox[]' value='+19312657401'> Dusty</li></label>
   <li><label class='checkbox'><input type='checkbox' name='checkbox[]' value='+18049437925'> Steve</li></label>
   <li><label class='checkbox'><input type='checkbox' name='checkbox[]' value='+16146574021'> Casey</li></label>
   <li><label class='checkbox'><input type='checkbox' name='checkbox[]' value='+19144097450'> Annie</li></label>
   <li><label class='checkbox'><input type='checkbox' name='checkbox[]' value='+18147466128'> Tom</li></label>
   <li><label class='checkbox'><input type='checkbox' name='checkbox[]' value='+17732099176'> Sasha</li></label><br>
   <li><label class='checkbox'><input type='submit' value='Send yo message'>
   </ul>
</form>
