<div class="fortune_container">
  <h2>Welcome to FORTUNE-Twilio</h2>
  <div id="green_block">
    <div class="phone_form">
    </div>
    <form id="fortune_form_generate" action="/fortune" method="post">
      <input type="submit" value="GET RANDOM TWEET">
    </form>
    <div id="fortune_twitter_copy">
      <br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>
</div>
