<div class="home_background">

<h2 class="welcome">Welcome to Twili-Yo-Friends </h2>

<h3 class='home_link'><a href='/horse'>Horse-Twilio</a></h3><br>

<h3 class='home_link'><a href='/fortune'>Fortune-Twilio</a></h3>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
